:root{
    --background:#F7F8FC;
    --surface:#FFFFFF;

    --primary:#7C6CF3;
    --primary-hover:#6958EB;

    --success:#C7EED8;
    --warning:#F8DFC5;
    --danger:#F3C6C6;

    --text:#2F2B3D;
    --muted:#77708A;

    --border:#E7E4F5;

    --radius:20px;
}

body{
    margin:0;
    background:var(--background);
    color:var(--text);
    font-family:"Inter",sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Manrope",sans-serif;
}